*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hero Section */
.hero-section {
    background-image: url('../image/Hero-bg.png');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.nav{
    padding: 50px 0;;
}
.nav-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: opx 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Buttons */
btn-primary {
     background-color: #4d47ff;
}

/* Logo */
.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #4d47ff;
}

.hero-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
}
.hero-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    color:#252432;
    margin-bottom: 36px;
}

/* Feature Section */
.feature-section {
     padding:50px 0;
     background-color: #f5f8ff;

}

.feature-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;;
}

.feature-text {
    flex: 1;
    max-width: 520px;
}

.feature-image {
    flex-shrink: 0;
}

.feature-image img {
    max-width: 400px;
    max-height: 330px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}